<?xml version="1.0"?>
<model>
  <name>Cubes</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Yadunund</name>
    <email>yadunund@gmail.com</email>
  </author>

  <description>
    Two cubes stacked upon each other and connected via a revolute joint.
  </description>
</model>
